# Ignore any dot-prefixed folders (e.g. .idea, .claude, .vs)
**/.*/

# Ignore .NET build output folders
# This matches any bin or obj folder and all their contents/subfolders
**/bin/
**/obj/
docs/commit-info.txt
